body {
	background-color : #000000;
	/*background-color : #002030;*/
	background-image: linear-gradient(-90deg, #002030, #000000);
}

.myDiv .bg {
	opacity: .4;
}

#test {
	opacity: 1;
}

#header {
 font-family: consolas;
 font-size: 18px;
 color: #4DACC8;	
}

#footer{
 float: "right";
 bottom: 0px;
 text-align: center;
 position: relative;
 font-family: consolas;
 color: #4DACC8;
}

#contact{
 font-family: consolas;
 font-size: 14px;
 color: #4DACC8;	
}

#ship img {

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#ship img.footerimage:hover{
 opacity:.3;
}